<footer class="site-footer">
  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li>©2024, The Caribbean Digital</li>
        <li>
          <a href="mailto:thecaribbeandigital@gmail.com">thecaribbeandigital@gmail.com</a>
        </li>
      </ul>
    </div>

    <div class="footer-col footer-col-2">
      <span>"Natural Selection" (2024) by Zoe Osborne, TCD artist in residence.<a href="http://caribbeandigitalnyc.net/residency/">TCD artist in residence</a>.</span>
    </div>
    <div class="footer-col footer-sponsors">
      <div class="lead">Sponsored by: The Andrew W. Mellon Foundation ◇ The Caribbean Digital Scholarship Collective ◇ Early Caribbean Digital Archive ◇ College of Social Sciences and Humanities ◇ The NULab for Digital Humanities and Computational Social Science ◇ Northeastern University Library</div>
    </div>
  </div>
</footer>
